<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>webapp</display-name>
	<description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>

	<!-- trying to get webjars to work with tomcat 6
	<servlet>
		<servlet-name>WebjarsServlet</servlet-name>
		<servlet-class>org.webjars.servlet.WebjarsServlet</servlet-class>
	-->
		<!--  stop browser from caching 
		<init-param>
			<param-name>disableCache</param-name>
			<param-value>true</param-value>
		</init-param>
		-->
		<!--  
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebjarsServlet</servlet-name>
		<url-pattern>/webjars/*</url-pattern>
	</servlet-mapping>
-->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>  